<div class="container">
	<div class="jumbotron">
		<h1>Create a Session</h1>
	</div>

	<form>
		<div class= "form-group">
			<select>
			    <option value="">Select Course</option>
			    <option value="CSCI">CSCI</option>
			    <option value="MATH">MATH</option>
			    <option value="ENG">ENG</option>
			    <option value="PHIL">PHIL</option>
			    <option value="CHIN">CHIN</option>
			    <option value="HIST">HIST</option>
			</select>
		</div>

		<div class= "form-group">
			<label for="email">Description</label>
			<div><textarea></textarea></div>
		</div>

		<div class= "form-group">
			<label for="lastName">Date</label>
			<div><input type="date" value="2018-01-12"name="date"></div>
		</div>

		<div class= "form-group">
			<label for="email">Time</label>
			<div><input type="time" name="email" value="09:00"></div>
		</div>

		<div class= "form-group">
			<select>
			    <option value="">Building</option>
			    <option value="MATH">Marsh Hall</option>
			    <option value="ENG">Shephard Hall</option>
			    <option value="PHIL">Library Building</option>
			</select>
		</div>


		<div class= "form-group">
			<label for="password">Room</label>
			<div><input type="password" name="password"></div>
		</div>

		

		<div class= "form-group">
			<label for="password">Attendees</label>
			<div>
				<input type="number" value ="1" min = "1" name="password">
			</div>
		</div>

		<div class= "form-group">
			<label for="password">Max Attendees</label>
			<div><input type="number" name="password" value="2" min="2"></div>
		</div>
	</form>
</div>

<!--
end time
-->