<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
</head>
<body>
	<h1>Sign Up</h1>
	<form>
		<input type="text" name="firstName">
		<input type="text" name="lastName">
		<input type="text" name="email">
		<input type="text" name="password">
	</form>
</body>
</html>